<div class="quiz group">
  
  <div class='question-container'>
    <p class='question'>{{ question.allQuestions[question.questionNavIndex].question }}</p>
    <label ng-repeat='choice in question.allQuestions[question.questionNavIndex].choices' class="radio-label">
      <input id='{{ $index }}' type="radio" name="group-{{ question.questionNavIndex }}" 
             ng-click='question.isSelected($index)'>{{choice.answer}}
    </label>
  </div>

  <div class='questions__nav-buttons-container'>
    <button class='btn questions__nav-buttons' ng-click='question.backButton()' 
            ng-hide='question.questionNavIndex <= 0' >
      <span class="fa fa-arrow-left"></span>
    </button>

    <button class='btn questions__nav-buttons' ng-click='question.nextButton()' 
            ng-show='question.questionNavIndex < 8' >
      <span class="fa fa-arrow-right"></span>
    </button>
  </div>
  
</div>