<div class="quiz">
  <div class='outer-container'>
  <div class='quiz__question-container' ng-repeat='question in quiz.allQuestions'>
    <p class='quiz__question'>{{ question.question }}</p>
      <div ng-repeat='choice in question.choices'>
        <input  id='{{ question.questionNumber + "-" + $index }}' type="radio" name='group-{{ question.questionNumber }}'>
        <label for='{{ question.questionNumber + "-" + $index }}' class='quiz__choice'><span></span>{{ choice.answer }}</label>
      </div>
  </div>

  <div class='questions__nav-buttons-container'>
    <button class='button questions__nav-buttons' ng-click='' 
            ng-hide='question.questionNavIndex <= 0' >
      <span class="fa fa-arrow-left"></span>
    </button>

    <button class='button questions__nav-buttons' ng-click='' 
            ng-show='question.questionNavIndex < 8' >
      <span class="fa fa-arrow-right"></span>
    </button>
  </div>
  </div>
</div>