{
	"extends": "eslint:recommended",
	"globals": {
		"angular": false,
		"alert": false,
		"require": false,
		"console": false
	},
	"ecmaFeatures": {
		"arrowFunctions": true,
		"blockBindings": true,
		"templateStrings": true,
		"modules": true
	},
  "rules": {
      "semi": [2, "always"],
      "quotes": [2, "single"]  }
}
