{
	"extends": "eslint:recommended",
	"globals": {
		"angular": false,
		"module": false,
		"inject": false,
		"alert": false,
		"require": false,
		"console": false,
		"describe": false,
		"it": false,
		"beforeEach": false,
		"expect": false,
		"spyOn": false
	},
	"ecmaFeatures": {
		"arrowFunctions": true,
		"blockBindings": true,
		"templateStrings": true,
		"modules": true
	},
  "rules": {
      "semi": [2, "always"],
      "quotes": [2, "single"],
			"no-console": [0]
		}
}
