<!DOCTYPE html>
<html ng-app='quiz'>
<head>
    <title>Simple JavaScript Quiz</title>
    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
    <link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="dist/css/main.css">
</head>

<meta name="viewport" content="width=device-width">
<meta name="viewport" content="initial-scale=1">
<meta name="viewport" content="minimum-scale=0">
<meta name="viewport" content="user-scalable=yes">

<body>
    <div class="content-wrapper group">
    

    <div class="score">
        <h1>Quiz Complete</h1>
        <p id='total'>Your total score is: <span id='score-total'></span></p>
        
        <div class='end-div-buttons'>
            <button id='retake-button' class='btn end-buttons'>Retake Quiz</button>
            <button id='show-button' class='btn end-buttons'>Show Answers</button>
        </div>
    </div>
    
    <div class="quiz group" ng-controller='QuizController as quiz'>
        
        <div class='welcome' ng-hide='quiz.questionNavIndex > 0'>
            <h1>Simple Quiz</h1>
            <h3>Show your stuff! See how well you can answer some general knowledge questions.</h3>
        </div>
        
        <button class='btn nav-button' ng-click='quiz.backButton()' ng-hide='quiz.questionNavIndex <= 0' id='back-button'><span class="fa fa-arrow-left"></span></button>
            <div class='question-container'>
                <p class='question'>{{quiz.allQuestions[quiz.questionNavIndex].question}}</p>
                <label ng-repeat='choice in quiz.allQuestions[quiz.questionNavIndex].choices' class="radio-label">
                    <input type="radio" name="{{quiz.questionNavIndex}}">{{choice.answer}}
                </label>
            </div>
        <button class='btn nav-button' ng-click='quiz.nextButton()' ng-show='quiz.questionNavIndex < 8' id='next-button'><span class="fa fa-arrow-right"></span></button>
    </div>
    
    <script src="dist/js/vendor.js"></script>
    <script src="dist/js/app.min.js"></script>
</body>

</html>
