input {
    display: inline;
}

.radio-label {
    display: block;
}

.question-container {
    background-color: #eee;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 6px;
}

.question {
    margin-left: 600px;
    width: 500px;
    font-weight: bold;
    font-size: 18px;
    color: #85144B;
}

.radio-label {
    margin-left: 600px;
}

.page-header {
    background-color: #85144B;
    margin: 0px;
    border: 0px;
    padding-top: 9px;
}

.page-header * {
    text-align: center;
    color: #FFFFFF;
} 

#nav-button {
    display: none;
}

label {
    color: #111111;
    width: 500px;
}

#begin-button {
    display: block;
    margin: 0 auto;
}

#retake-button {
    display: block;
    margin: 0 auto;
}

.jumbotron * {
    text-align: center;
}

#score {
    display: none;
    margin-bottom: 16px;
}

table {
    margin: 0 auto;
}

.highlight-correct { 
    background-color: #2ECC40;
    border: 2px;
}

.highlight-incorrect { 
    background-color: #FF4136;
    border: 2px;
}

.question-correct {
    background-color: #FF4136;
}

.question-incorrect {
    background-color: #2ECC40;
}