input {
    display: inline;
}

.radio-label {
    display: block;
}

.question-container {
    background-color: #3D9970;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.question-container * {
    margin-left: 10px;
    color: white;
}

.page-header {
    background-color: #85144B;
    margin: 0px;
    border: 0px;
    padding-top: 9px;
}

.page-header * {
    text-align: center;
    color: #FFFFFF;
} 

#nav-button {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: none;
}

label {
    color: #111111;
}

#begin-button {
    display: block;
    margin: 0 auto;
}

#retake-button {
    display: block;
    margin: 0 auto;
}

.jumbotron * {
    text-align: center;
}

#score {
    display: none;
}

table {
    margin: 0 auto;
}

.highlight-correct { 
    background-color: #2ECC40; 
}

.highlight-incorrect { 
    background-color: #FF4136; 
}