/*--------------------------
        Buttons
--------------------------*/
.btn {
    display: block;
    border: 0;
    
    font-family: Arial;
    font-size: 30px;
    color: $second-color;
    text-align: center;
    background: $main-color;
    padding: 6px 20px 6px 20px;
    text-decoration: none;

    @include user-select(none);
    @include border-radius(15px);
    @include transition-duration(0.2s);
}

.btn:hover, .btn:focus {
    background: $button-hover-color;
    text-decoration: none;
}

.btn:active {
    @include box-shadow(0, 1px, 4px, rgba(0, 0, 0, 0.6), true);
    background: $button-click-color;
}

.btn-text {
    font-family: open sans;
    font-weight: bold;
}