//--------------------------
//         Body
//--------------------------
body { 
  background-color: $background-color;
  color: $main-color;
  font-family: lato;
  margin: 0;
}

.outer-container {
  @include outer-container(100%);
}


//--------------------------
//        Welcome
//--------------------------
.welcome {
  margin-top: $margin-top-of-page;
  text-align: center;
}

  .welcome__title {
    font-size: 400%;
    padding-bottom: 40px;
  }
  
  .welcome__description {
    font-size: 150%;
    padding-bottom: 40px;
  }

  .welcome__button {
    margin: 0 auto;
  }


//--------------------------
//      Score Screen
//--------------------------
.score {
  margin-bottom: 16px;
  margin-top: $margin-top-of-page;
  text-align: center;
}

  .score__title {
    font-size: 400%;
    padding-bottom: 40px;
  }
  
  .score__total {
    font-size: 200%;
    padding-bottom: 40px;
  }
  
  .score--number {
    border-bottom: solid $main-color 3px;
  }
  
.end-div-buttons {
  margin: 0 auto;
}

.end-buttons {
  display: inline;
}


//--------------------------
//       Quiz Questions
//--------------------------
.quiz {
  @include row();
  margin-top: $margin-top-of-page;
}

  .quiz__question-container {
    @include span-columns(8);
    @include shift(2);
    
    background-color: $main-color;
    border-bottom: solid 6px $button-click-color;
    border-radius: 15px;
    display: block;
    margin-bottom: 2%;
    padding-left: 1%;
    text-align: left;
  }

  .quiz__question {
    color: $second-color;
    font-family: lato;
    font-size: 200%;
    font-weight: bold;
  }
    
  label {
    color: $radio-button-color;
    font-family: lato;
    font-size: 125%;
    width: 80%;
  }

  .quiz__choice {
    color: $second-color;
    display: block;
  }

  .quiz__buttons-container {
    @include span-columns(4);
    @include shift(4);
    
    margin-bottom: 10%;
    margin-top: 3%;
    text-align: center;
  }

  .quiz__button {
    display: inline-block;
    margin-right: 2%;
  }
