//--------------------------
//      Variables
//--------------------------
$color-primary: #01ff70;
$color-secondary: #001f3f;
$color-background: #001f3f;
$color-radio-button: #111;
$color-button-click: #00b44e;
$color-button-hover: #99ffc5;
$color-question: #FFF;

$nav-button-margin-sides: 5%;
$nav-button-margin-top: 5%;
$site-wrapper-percent: 20%;
$margin-top-of-page: 8%;

$font-heading: 'Helvetica', 'Open Sans', sans-serif;
$font-heading-weight: 700;
