//--------------------------
//      Variables
//--------------------------
$main-color : #01ff70;
$second-color : #001f3f;
$background-color: #001f3f;
$correct-color : #01ff70;
$incorrect-color : #ff4136;
$radio-button-color: #111;

$button-click-color: #00b44e;
$button-hover-color: #99ffc5;

$nav-button-margin-sides: 5%;
$nav-button-margin-top: 5%;
$site-wrapper-percent: 20%;
$margin-top-of-page: 8%;
