/*--------------------------
        Include
--------------------------*/
@import 'reset';
@import 'base';
@import 'style';


//clearfix hack
.group:after {
  content: "";
  display: table;
  clear: both;
}


/*--------------------------
          Body
--------------------------*/
body { 
    margin: 0;
    background-color: $background-color;
    color: $main-color;
    font-family: lato;
}

.content-wrapper {
  width: 90%;
  margin: 0 auto;
}


/*--------------------------
       Welcome Heading
--------------------------*/
.welcome {
  margin-top: $margin-top-of-page;
  text-align: center;
}

  .welcome__title {
    padding-bottom: 40px;
    font-size: 400%;    
  }
  
  .welcome__description {
    padding-bottom: 40px;
    font-size: 150%;
  }

  .welcome__button {
    margin: 0 auto;
  }


/*--------------------------
        Score Screen
--------------------------*/
.score {
    margin-top: $margin-top-of-page;
    margin-bottom: 16px;
    text-align: center;
}

  .score__title {
    font-size: 400%;
    padding-bottom: 40px;
  }
  
  .score__total {
    font-size: 200%;
    padding-bottom: 40px;
  }
  
  .score--number {
    border-bottom: solid $main-color 3px;
  }


/*--------------------------
        Quiz Questions
--------------------------*/
.questions__selected {
    color: red;
}

.questions__nav-buttons-container {
  margin-top: 1%;
  padding-left: 2%;
}

.questions__nav-buttons {
  display: inline;
}

.quiz {
  margin-top: $margin-top-of-page;
}

    .question-container {
        padding-top: 2%;
        padding-bottom: 1%;
        display: block;
    }

    .question-container * {
        padding-left: 2%;
        padding-right: 2%;
        text-align: left;
    }

    .question {
        width: auto;
        font-weight: bold;
        font-family: lato;
        font-size: 200%;
        color: $main-color;
    }
    
    label {
        color: #111111;
        width: 80%;
        font-size: 125%;
        font-family: lato;
    }

.radio-label {
    display: block;
    color: #FFFFFF;
}

.highlight-correct { 
    background-color: $correct-color;
    color: $second-color;
}

.highlight-incorrect { 
    background-color: #FF4136;
    color: $second-color;
}


/*--------------------------
    Quiz Complete Buttons
--------------------------*/
.end-div-buttons {
    margin: 0 auto;
}

.end-buttons {
    display: inline;
}


/*--------------------------
        Utility
--------------------------*/
.hidden {
    display: none;
}