/*--------------------------
        Include
--------------------------*/
@import '_base';
@import '_style';


//clearfix hack
.group:after {
  content: "";
  display: table;
  clear: both;
}


/*--------------------------
          Body
--------------------------*/
@viewport {
    width: device-width;
    zoom: 1;
}

body { 
    margin: 0;
    background-color: $background-color;
    text-align: center;
    color: $main-color;
    font-family: lato;
}

/* Smartphones (landscape & Portrait) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
    .content-wrapper {
        width: auto;
        margin: 0 auto;
    }
}

/* Desktop & Laptop ----------- */
@media only screen 
and (min-width : 1224px) {
    .content-wrapper {
        width: 70%;
        margin: 0 auto;
    }
}


/*--------------------------
       Welcome Heading
--------------------------*/
/* Smartphones (landscape & Portrait) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
    .welcome {
        margin-top: 5%;
    }
    
    .welcome h1 {
        font-size: 800%;    
    }
    
    .welcome h3 {
        font-size: 400%;    
    }
}

/* Desktop & Laptop ----------- */
@media only screen 
and (min-width : 1224px) {
    .welcome {
        margin-top: $margin-top-of-page;
    }
    
    .welcome h1 {
        font-size: 400%;    
    }
}


/*--------------------------
        Score Screen
--------------------------*/
.score {
    margin-top: $margin-top-of-page;
    margin-bottom: 16px;
    display: none;
}


/*--------------------------
        Quiz Questions
--------------------------*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .quiz {
        margin-top: 5%;
    }

    .question-container {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .question-container * {
        padding-left: 2%;
        padding-right: 2%;
        text-align: left;
    }

    .question {
        width: auto;
        font-weight: bold;
        font-family: lato;
        font-size: 300%;
        color: $main-color;
    }
    
    label {
        color: #111111;
        width: 80%;
        font-size: 250%;
        font-family: lato;
    }
}

/* Desktop & Laptop ----------- */
@media only screen 
and (min-width : 1224px) {
    .quiz {
        margin-top: $margin-top-of-page;

    }

    .question-container {
        padding-top: 2%;
        padding-bottom: 2%;
        display: inline;
    }

    .question-container * {
        padding-left: 2%;
        padding-right: 2%;
        text-align: left;
    }

    .question {
        width: auto;
        font-weight: bold;
        font-family: lato;
        font-size: 200%;
        color: $main-color;
    }
    
    label {
        color: #111111;
        width: 80%;
        font-size: 125%;
        font-family: lato;
    }
}

.radio-label {
    display: block;
    color: #FFFFFF;
}

.highlight-correct { 
    background-color: $correct-color;
    color: $second-color;
}

.highlight-incorrect { 
    background-color: #FF4136;
    color: $second-color;
}


/*--------------------------
        NAV Buttons
--------------------------*/
#next-button {
    float: right;
    margin-top: $nav-button-margin-top;
}

#back-button {
    float: left;
    margin-top: $nav-button-margin-top;
}


/*--------------------------
    Quiz Complete Buttons
--------------------------*/
.end-div-buttons {
    margin: 0 auto;
}

.end-buttons {
    display: inline;
}


/*--------------------------
        Utility
--------------------------*/
.hidden {
    display: none;
}