<div class="quiz">
  <div class='outer-container'>
  <div class='quiz__question-container' ng-repeat='question in quiz.allQuestions'>
    <h3 class='quiz__question'>Question <span>{{ $index + 1 }}</h3>
    <p class='quiz__question-copy'>{{ question.question }}</p>
      <div ng-repeat='choice in question.choices'>
        <input  id='{{ question.questionNumber + "-" + $index }}' type="radio" name='group-{{ question.questionNumber }}'>
        <label for='{{ question.questionNumber + "-" + $index }}' class='quiz__choice'><span></span>{{ $index + 1 }}. {{ choice }}</label>
      </div>
  </div>

  <div class='quiz__buttons-container'>
    <button class='button quiz__button' ng-click=''>Not Sure</button>
    <button class='button quiz__button' ng-click='quiz.submitButton()'>Submit</button>
  </div>
  </div>
</div>
